@model Notes.Models.Meeting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <div class="d-flex align-items-center justify-content-center text-center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVirtual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVirtual)
        </dd>
        <dt>
           Users
        </dt>
        <dd>
            @foreach (var item in ViewBag.Users)
            {
                <p>@item.UserName</p>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
    </dl>
</div>
    </div>
<div class="mb-5">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
